/* Global */
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;

}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  box-shadow: 0 1px 8px black;
  background-color: #333;
}

#brand-name {
  font-style: italic;
  color:slategrey;
  font-size: 1em;  
}

header li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}

header a {
  text-decoration: none;
  font-size: 2em;
  color: slategrey;
  transition: all 0.3s ease 0s;
}
header a:hover {
  color: #0080ff;
}

.flex-container {
  display: flex;
  flex-direction: column ;
  justify-content: center;
  align-items: center;

  height: 525px;
}

.box {
  display: flex;
  flex-direction: column-reverse;
}

.selfie {
  width: 400px;
  padding: 50px;
  border-radius: 50%;
}
.fav-quote {
  background-color:darkslateblue;
  border-radius: 20px;
  margin: 80px 100px;
  padding: 25px;
  width: 80%;
  display: flex;
  justify-content:center;
  align-items: center;
  font-size: 45pt;
  font-style: italic;
  color:lightslategrey;
  font-family:cursive;
}
.pg-home {
  background-color: lightslategrey;
}
.pg-portfolio {
  background-color: lightslategrey;
}
.pg-about {
  background-color: lightslategrey;
}
.my-interests {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 40px;
}
.my-interests h2 {
  color:#333;
  width: 90%;
  padding: 0 0 0 40px;
  font-size: 40pt;
}

.my-interests p {
  font-size: x-large;
  padding: 10px;
  color:#333;
  font-size: 30pt;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  box-shadow: 0 1px 8px black;
  background-color: #333;
}

.flex-sect-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 90%;
}
.flex-sect-container > div {
  flex-grow: 1;
  margin: 50px 50px;
  padding: 100px 100px;
  width: 60%;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
}
.pg-portfolio h1 {
  text-align: center;
  color: aliceblue;
  border-bottom: aliceblue;
}
.proj-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/* Rounded border */
.proj-card hr.rounded {
  border-top: 8px solid rgb(159, 10, 10);
  border-radius: 5px;
}
.proj-card img {
  margin: 20px 50px 10px 50px;
  width: 200px;
}